<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<div location="headerView" class="ga-hdr"></div>
	<div class="LoginDiv ga-prof mt60">
		<div location="firstName"></div>
		<div location="lastName"></div>
		<div location="email"></div>
		<div location="companyName"></div>
		<div location="companyAddress"></div>
		<div location="companyState"></div>
		<div location="companyZip"></div>
		<div location="updateProfile" class="login-btn"></div>
		<div location="cancelProfile" class="login-btn"></div>
	</div>
</body>
</html>